// Global typography rules
body {
  font-size: 1rem; // 14px
}

h1 {
  font-size: 2rem; // 28px
}

h2 {
  font-size: 1.5rem; // 21px
}

p {
  font-size: 1rem; // 14px
}

.small-text {
  font-size: 0.875rem; // 12.25px
}