.chat-send {
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  cursor: pointer;
  padding: 0 12px;
  user-select: none;
  background: #e44e4e;
}