// Utility classes (e.g., text-center, float-left)
.bg-main {
  background-color: $primary-color; // Example primary color
}

.pointer {
  cursor: pointer;
}

.no-select {
  user-select: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.bg-success {
  background: linear-gradient(90deg, #28a745, #218838);
}

.bg-info {
  background: linear-gradient(90deg, #17a2b8, #138496);
}